{% extends 'searchapp/base.html' %}
<!-- テンプレートの継承先 -->
<!-- オーバーライド対象：content=子テンプレートのブロック名 -->
{% block content %}
<form method="post"  class="form-inline">
<!-- セキュリティ対策 -->
{% csrf_token %}
<div id ="container">
    <select class="form-control">
        <option></option>
        {% for field in categorypulldown %}
        <option>{{ field.categoryname }}</option>
        {% endfor %}
   </select>
     <label>検索ワード</label>
     {% for aa in search_value %}
     {{ aa }}
     {% endfor %}
     <!--<input type="text" class="form-control" placeholder="フリーワード検索">-->
     <input class="btn btn-success offset-md-8 col-md-3" type="submit" id="button" name="button" value="🔍">

</div>
</form>
{% endblock %}